
<header class="bg-dark py-3">
    <div class="container px-4 px-lg-5">
        <div class="text-center text-white">
            <h1 class="display-3 fw-bolder">Product Catalog Website</h1>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <!-- <h1>Login as</h1> -->
                </div>
                <button (click)="login()" class="btn btn-dark">Login</button>&nbsp;
                <button (click)="register()" class="btn btn-dark">Register</button>&nbsp;
                <button (click)="goToDisplay()" class="btn btn-dark">Proceed to Cart</button>
            </div>
        </div>
    </div>
</div>